<div class="container">
<!-- <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span> Designed by Oluwaseun</span>
    <p>Staff Management System</p>
    <span class="fill-remaining-space"></span>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
<!-- <app-employee></app-employee> -->
<app-employee-list></app-employee-list>
    </div>
