<div class="container">
<!-- <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span> Designed by Oluwaseun</span>
    <p>Staff Management System</p>
    <span class="fill-remaining-space"></span>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Staff Management System</span>
      <button mat-fab color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
     
    <span> Designed by Oluwaseun</span>
    </mat-toolbar-row>
    
    
  </mat-toolbar>
<!-- <app-employee></app-employee> -->
<app-employee-list></app-employee-list>
    </div>
